<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Portfolio</title>
    <link rel="icon"  type="image/x-icon" href="/rsrc/cssChampionship40x40.png">
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <header>
        <img class="cssChampionship" src="../rsrc/cssChampionshipLogo640x400.png">
        <div class="pageSelection">
            <a href="../index.html">Accueil</a>
            <a href="../template/portfolio.html">Portfolio</a>
            <a href="../template/aPropos.html">FAQ</a>
            <a href="../template/contact.html">Contact</a>
        </div>
    </header>
    
    <main>
        <h1>Mon portfolio</h1>
        <div class="galerie">
            <h2>Photos de vacances</h2>
    
            <figure>
                <img src="../photographies/photoV1.jpg">
                <figcaption>Vue sur la mer.</figcaption>
            </figure>
        
            <figure>
                <img src="../photographies/photoV2.jpg">
                <figcaption>De l'autre côté.</figcaption>
            </figure>
        
            <figure>
                <img src="../photographies/photoV3.jpg">
                <figcaption>Port tranquille.</figcaption>
            </figure>
        
            <figure>
                <img src="../photographies/photoV4.jpg">
                <figcaption>Embouteillage.</figcaption>
            </figure>
        
            <figure>
                <img src="../photographies/photoV5.jpg">
                <figcaption>Parking maritime.</figcaption>
            </figure>
        
            <h2>Photos de parcs</h2>
        
            <figure>
                <img src="../photographies/photoP1.jpg">
                <figcaption>Solitude.</figcaption>
            </figure>
        
            <figure>
                <img src="../photographies/photoP2.jpg">
                <figcaption>Porte de la paix intérieure.</figcaption>
            </figure>
                <!-- I eat your mom CSS-->
            <figure>
                <img src="../photographies/photoP3.jpg">
                <figcaption>Cascade.</figcaption>
            </figure>
        
            <figure>
                <img src="../photographies/photoP4.jpg">
                <figcaption>Vue éblouissante.</figcaption>
            </figure>
        </div>

    </main>

    <footer>
        <p>Photographe professionnel - 30 Avenue du coquelicot 37000 Tours</p>
        
        <a href="https://www.instagram.com/">Compte Instagram</a>

        <p>@ 1995 par Jean-Timothé Foto</p>
    </footer>
</body>
</html>